@model TransferFormModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Add">
    <div class="form-group">
        <label asp-for="GameId">Game</label>
        <select asp-for="GameId" class="form-control" id="gameSelect">
            @foreach (var game in Model.TransferGames)
            {
                <option value="@game.Id">@game.ShortName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="TeamId">Teams</label>
        <select asp-for="TeamId" class="form-control" id="teamSelect">
            @foreach (var team in Model.TransferTeams)
            {
                <option value="@team.Id">[@Model.TransferGames.FirstOrDefault(c=>c.Id==team.GameId)?.ShortName] <b>@team.Tag</b> @team.FullName</option>
            }
        </select>
    </div>


    <div class="form-group">
        <label asp-for="PlayerId">Player</label>
        <select asp-for="PlayerId" class="form-control" id="playerSelect">
            @foreach (var p in Model.TransferPlayers)
            {
                <option value="@p.Id">@p.Nickname</option>
            }
        </select>
    </div>



    <div class="form-group">
        <label asp-for="PositionId">Positions</label>
        <select asp-for="PositionId" class="form-control" id="positionSelect">
            @foreach (var pos in Model.TransferPositions)
            {
                <option value="@pos.Id">[@Model.TransferGames.FirstOrDefault(c=>c.Id==pos.GameId)?.ShortName] @pos.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="TransferDate">Transfer Date</label>
        <input asp-for="TransferDate" class="form-control" type="datetime-local" value="@DateTime.Now" />
    </div>

    <input class="btn btn-dark float-right" type="submit" value="Save" />
</form>